img {
  width: auto;
  height: 120px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#lightgrey {
  height: 100%;
  background: lightgrey;
}

#green {
  height: 100%;
  background: green;
}

/* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.content {
  display: flex;
}

.content img {
  margin-right: 10px;
  display: block;
  width: 7%;
  height: auto;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  border-width: 1px;
}

.added {
  color: #000000;
  display: flex;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.added {
  background-color: #4caf50;
} /* Green */
