img {
  width: auto;
  max-width: 150px;
  height: 120px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.card {
  border-radius: 0;
}

.dropdown {
  background-color: gray;
}

.zero-padding {
  padding-left: 0;
  padding-right: 0;
}
.sidebar-margin {
  margin-left: 0;
  margin-right: 0;
}

.sidebar-cont {
  width: 100% !important;
}

.homepage-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
